.card{
    margin: 30px 30px;
    width: 350px;
    height: auto;
    background: #e8e6e6;
    box-shadow: 3px 3px 12px 1px rgb(126, 124, 124);
    text-align: center;

}

.reduzido{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reduzido:hover{
    white-space: normal;

}
