body{
    background-color: rgb(255, 255, 255);
}

h1{
    color: red;
}

p{
    color: #03034d;
}

.exemplo-back{
    height: 300px;
    background: gray no-repeat center url(/img/cidade.jpg );
    background-size: cover;
 
}
